---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="social">
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">
    var addthis_config = {"data_track_addressbar":true};
  </script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e2ce4f0add46e3"></script>
  <!-- AddThis Button END -->
</div>

<div class="post">
{{ content }}
</div>

<div class="pagination">
  <h2>More Articles</h2>
  {% if page.previous.url %}
  <a href="{{ page.previous.url }}">Previous: {{ page.previous.title}}</a>
  {% endif %}

  <a href="#top">Back to top</a>

  {% if page.next.url %}
  <a href="{{ page.next.url }}">Next: {{ page.next.title }}</a>
  {% endif %}
</div>

<div class="ad-post">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- End of Article -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9210472847417908"
       data-ad-slot="1040480270"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
